<!DOCTYPE html>
<html>
    <head>
        <title>Learning Django</title>
    </head>
    <body>
        <header>
            <h1>Learning Django</h1>
            <h2><a href="/">Home Page</a></h2>
        </header>

        <article> Where are my other posts??</article>

        <br></br>

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>>
        {% endfor %}

    </body>
</html>