h1 a, h2 a {
    color: #ffb4bf;
}

/* article {
    padding-left: 30px;
} */

/* body {
    padding-left: 30px;
} */

.page-header {
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visted,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;

}

.save {
    float: right;
}

.post-forum textarea,
.post-forum input {
    width: 100%;
}

.top.menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 20px;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #C25100;
    border-color: #C25100;
}